<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_project_to__insert_data_inTo_table</display-name>
  <welcome-file-list>
    <welcome-file>p1.html</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>http</servlet-name>
    <url-pattern>/fs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>http</servlet-name>
    <servlet-class>com.ty.http</servlet-class>
  </servlet>
</web-app>